{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FleetFlow | Register</title>
  <link rel="stylesheet" href="{% static 'style.css'%}" />
</head>
<body>
  <div class="auth-container">
    <form class="auth-card" id="registerForm" method="POST">
          {% csrf_token %}

      <div class="icon-circle">
        <img src="https://cdn-icons-png.flaticon.com/512/747/747376.png" alt="register" />
      </div>
      <h2>Create Account</h2>
      <p class="subtext">Join FleetFlow system</p>

      <label>Full Name</label>
      <input type="text" name="full_name" id="regName" placeholder="John Doe" required>

      <label>Email Address</label>
      <input type="email"  name="email" id="regEmail" placeholder="you@example.com" required>

      <label>Password</label>
      <input type="password" name="password" id="regPassword" placeholder="••••••••" required>

      <label>Confirm Password</label>
      <input type="password" name="confirm_password" id="regConfirm" placeholder="••••••••" required>

      <label>Select Role</label>
      <select name="role" id="regRole">
        <option value="manager">Manager</option>
        <option value="dispatcher">Dispatcher</option>
        <option value="safety">Safety Officer</option>
        <option value="finance">Financial Analyst</option>
      </select>

      <button type="submit">Register</button>

      <p class="switch">Already have an account? <a href="{% url 'index' %}">Login</a></p>
      <p id="regMsg"></p>
    </form>
  </div>

  <script src="{% static 'script.js'%}"></script>
</body>
</html>